@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1;
  --brand-primary: #9DD4C7;
  --gray-7: '#8C8C8C';
}

@keyframes stayInPlace {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
  99% {
    opacity: 0.99;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.job-card-upper {
  animation: 0 stayInPlace;
  z-index: 40;
}

.dropdown {
  animation: 0.3s slideInFromTop;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.notes-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
.notes-wrapper {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
