@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1;
  --brand-primary: rgb(157, 212, 199);
  --brand-dark: rgb(37, 51, 48);
  --brand-soft: rgb(197, 236, 227);
  --gray-3: #EEEEEE;
  --gray-5: #E4E4E4;
  --gray-7: #8C8C8C;
}

@keyframes stayInPlace {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
  99% {
    opacity: 0.99;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.job-card-upper {
  animation: 0 stayInPlace;
  z-index: 40;
}

.dropdown {
  animation: 0.3s slideInFromTop;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.notes-wrapper::-webkit-scrollbar,
.modal-content::-webkit-scrollbar, 
.to-do-wrapper::-webkit-scrollbar,
.contact-wrapper::-webkit-scrollbar {
  background-color: transparent;
}

.notes-wrapper::-webkit-scrollbar-thumb,
.modal-content::-webkit-scrollbar-thumb, 
.to-do-wrapper::-webkit-scrollbar-thumb,
.contact-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--gray-3);
  border-radius: 8px;
  border: 3px solid transparent;
  border-top: none;
  border-bottom: none;
  background-clip: content-box;
}

.notes-wrapper::-webkit-scrollbar-thumb:hover,
.modal-content::-webkit-scrollbar-thumb:hover, 
.to-do-wrapper::-webkit-scrollbar-thumb:hover,
.contact-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-5);
}

/* Hiding scrollbar for IE, Edge and Firefox */
.notes-wrapper, 
.modal-content,
.to-do-wrapper,
.contact-wrapper {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
